<script setup lang="ts">
// @ts-nocheck
import { useAppStore } from "./stores"
import { ref, onMounted } from 'vue'
import { defineConfigs } from "v-network-graph"
const app = useAppStore()
onMounted(() => {
  app.start();
})
function onSubmit(e: any) {
  const _form = new FormData(e.target)
  var object = {};
  _form.forEach(function (value, key) {
    object[key] = value;
  });
  app.onSubmit(object)
}
const configs = defineConfigs({
  node: {
    normal: {
      type: "rect",
      width: node => node.size,
      height: node => node.size,
      borderRadius: 6,
      color: node => node.color,
      strokeWidth: 1,
      strokeColor: "#888888",
    },
    hover: {
      color: node => node.color,
    },
    selectable: true,
    focusring: {
      color: "darkgray",
      visible: true,
      width: 4,
      padding: 3,
      dasharray: "0",
    },
  },
  edge: {
    normal: {
      width: 1,
      color: "#666666",
    },
    hover: {
      color: "#666666",
    },
  },
})
const layers = {
  // {layername}: {position}
  badge: "nodes",
}
const layouts = ref({ ...{ nodes: {} } })
const currentTab = ref(0)
const keyGenerateSize = ref(4)
const currentNodeType = ref(0)
const currentApp = ref("")
</script>

<template>
  <div class="graph">
    <v-network-graph :nodes="app.nodes" :edges="app.edges" :configs="configs" :layers="layers" :layouts="layouts"
      :event-handlers="app.eventHanders" class="v-graph">
      <!-- <template #badge="{ scale }">
        <circle v-for="(pos, node) in layouts.nodes" :key="node" :cx="pos.x + 9 * scale" :cy="pos.y - 9 * scale"
          :r="4 * scale" :fill="app.nodes[node].active ? '#00cc00' : '#ff5555'" style="pointer-events: none" />
      </template> -->
      <template #override-node-label="{
        nodeId,
        scale,
        text,
        x,
        y,
        config,
        textAnchor,
        dominantBaseline,
      }">
        <text x="0" y="0" :font-size="15 * scale" text-anchor="middle" dominant-baseline="central" fill="red">{{
          app.nodes[nodeId].value }}</text>
        <text x="0" y="0" :font-size="config.fontSize * scale" :text-anchor="textAnchor"
          :dominant-baseline="dominantBaseline" :fill="config.color" :transform="`translate(${x} ${y})`">{{ text }}</text>
        <text x="0" :y="0" :font-size="15 * scale" :text-anchor="textAnchor" :dominant-baseline="dominantBaseline"
          fill="red" :transform="`translate(${x} ${-2 * y})`">{{ app.nodes[nodeId].id }}
        </text>
      </template>
    </v-network-graph>
  </div>
  <div class="setting" style=" overflow: auto">
    <h1>Setting ({{ app.currentNode }})</h1>
    <form @submit.prevent="onSubmit">
      <fieldset>
        <legend>Group</legend>
        <div class="form-item-2">
          <div class="form-input">
            <label for="P0">N/P:</label><br>
            <input type="number" name="P0">
          </div>
          <div class="form-input">
            <label for="P1">P:</label><br>
            <input type="number" name="P1">
          </div>
          <div class="form-input">
            <label for="size">Size:</label><br>
            <input type="number" name="size">
          </div>
          <div class="form-input">
            <input type="text" name="type" value="groupSubmit" style="display: none;">
            <label for="type"></label><br>
            <input type="submit">
          </div>
        </div>
      </fieldset>
    </form>
    <form @submit.prevent="onSubmit">
      <fieldset style=" overflow: auto">
        <legend>Node</legend>
        <div class="form-item-2">
          <div class="form-input">
            <label>Type</label>
            <select name="node_type" class="select-form" v-model="currentNodeType">
              <option value="1">Sensor with distribution </option>
              <option value="2">Sensor with data</option>
              <option value="3">Controller</option>
            </select>
          </div>
          <div class="form-input" v-if="currentNodeType == '2' || currentNodeType == '1'">
            <label for="e">e:</label><br>
            <input type="number" name="e">
          </div>
          <div class="form-input">
            <label for="id">Id:</label><br>
            <input type="number" name="id">
          </div>
          <div class="form-input">
            <label for="p">p:</label><br>
            <input type="number" name="p">
          </div>
          <div class="form-input" v-if="currentNodeType == '1'">
            <label for="mean">Mean(µ):</label><br>
            <input type="number" name="m">
          </div>
          <div class="form-input" v-if="currentNodeType == '1'">
            <label for="v">Variance (σ):</label><br>
            <input type="number" name="v">
          </div>
          <div class="form-input" v-if="currentNodeType == '2' || currentNodeType == '1'">
            <label for="A">Amplitude (a):</label><br>
            <input type="number" name="A">
          </div>
          <div class="form-input" v-if="currentNodeType == '3'">
            <label for="T_h">Threshold high:</label><br>
            <input type="number" name="T_h">
          </div>
          <div class="form-input" v-if="currentNodeType == '3'">
            <label for="T_l">Threshold low:</label><br>
            <input type="number" name="T_l">
          </div>
          <div class="form-input">
            <input type="text" name="type" value="nodeSubmit" style="display: none;">
            <label for="step"></label><br>
            <input type="submit">
          </div>
        </div>
      </fieldset>
    </form>
    <div>Key: {{ app.nodeKey }}</div>
    <form @submit.prevent="onSubmit">
      <fieldset>
        <legend>Alias name</legend>
        <div class="form-item-2">
          <div class="form-input">
            <input type="text" name="name">
          </div>
          <div class="form-input">
            <input type="text" name="type" value="nameSubmit" style="display: none;">
            <input type="submit">
          </div>
        </div>
      </fieldset>
    </form>
    <form @submit.prevent="onSubmit">
      <fieldset>
        <legend>Change value</legend>
        <div class="form-item-2">
          <div class="form-input">
            <input type="number" name="value">
          </div>
          <div class="form-input">
            <input type="text" name="type" value="valueSubmit" style="display: none;">
            <input type="submit" name="size">
          </div>
        </div>
      </fieldset>
    </form>
    <form @submit.prevent="onSubmit">
      <fieldset>
        <legend>Control</legend>
        <div class="form-item-2">
          <div class="form-input">
            <!-- <input type="number" name="size"> -->
            <select name="cmd" class="select-form">
              <option value="0">OFF</option>
              <option value="1">On</option>
              <option value="2">Toggle</option>
            </select>
          </div>
          <div class="form-input">
            <input type="text" name="type" value="controlSubmit" style="display: none;">
            <input type="submit">
          </div>
        </div>
      </fieldset>
    </form>

  </div>
  <div class="information">
    <div class="tab">
      <button :class="currentTab == 0 ? 'active' : ''" @click="currentTab = 0">Key Generate</button>
      <button :class="currentTab == 1 ? 'active' : ''" @click="currentTab = 1">Decrypt</button>
      <button :class="currentTab == 2 ? 'active' : ''" @click="currentTab = 2">Decrypt with Function</button>
      <button :class="currentTab == 3 ? 'active' : ''" @click="currentTab = 3">Control setting</button>
      <button @click="app.clearLog()">Clear Log</button>
      <button @click="app.toggleLog()">{{ app.prioLog == 0 ? 'Stop Listen' : 'Start Listen' }}</button>
    </div>
    <form v-if="currentTab == 0" style=" overflow: auto;max-width: 60vw;" @submit.prevent="onSubmit">
      <fieldset style=" overflow: auto">
        <div class="form-item-3">

          <div class="form-input">
            <label>Name:</label>
            <input type="text" name="name" value="demo1">
          </div>
          <div class="form-input">
            <label>Size:</label>
            <input type="text" name="size" v-model="keyGenerateSize">
          </div>
          <div class="form-input">
            <label>N:</label>
            <input type="text" name="p2" value="37459">
          </div>
          <div class="form-input">
            <br>
            <input type="text" name="type" value="keyGroupGenerate" style="display: none;">
            <input type="submit" value="Generate">
          </div>
          <div class="form-input" v-for="i in Number(keyGenerateSize)" :key="i">
            <label>{{ i }}:</label>
            <input type="text" :name="i"
              :value="i == 1 ? '0000011200006FD30000361F000019C4' : i == 2 ? '0000000000000171000014A8000021CC' : i == 3 ? '00000000000000000000002D0000294C' : '00000000000000000000000000000159'">
          </div>
        </div>
      </fieldset>
      <small>Key: {{ app.groupKey }}</small>
    </form>
    <form v-if="currentTab == 1" style=" overflow: auto" @submit.prevent="onSubmit">
      <fieldset style=" overflow: auto">
        <div class="form-item-3">

          <div class="form-input">
            <label>Name:</label>
            <select name="name" class="select-form">
              <option :value="key" v-for="value, key, i in app.StorageKeys" :key="i">{{ key }}</option>
            </select>
          </div>
          <div class="form-input">
            <label>Data:</label>
            <input type="text" name="data">
          </div>
          <div class="form-input">
            <br>
            <input type="text" name="type" value="valueDecode" style="display: none;">
            <input type="submit" value="Decrypt">
          </div>
        </div>
      </fieldset>
    </form>
    <form v-if="currentTab == 2" style=" overflow: auto" @submit.prevent="onSubmit">
      <fieldset style=" overflow: auto">
        <div class="form-item-3">
          <div class="form-input">
            <label>Name:</label>
            <select name="name" class="select-form">
              <option :value="key" v-for="value, key, i in app.StorageKeys" :key="i">{{ key }}</option>
            </select>
          </div>
          <div class="form-input">
            <label>Data:</label>
            <input type="text" name="data">
          </div>
          <div class="form-input">
            <label>Function:</label>
            <input type="text" name="function">
          </div>
          <div class="form-input">
            <br>
            <input type="text" name="type" value="valueDecodeWithFunction" style="display: none;">
            <input type="submit" value="Decrypt">
          </div>
        </div>
      </fieldset>
    </form>
    <form v-if="currentTab == 3" style=" overflow: auto;" @submit.prevent="onSubmit">
      <fieldset style=" overflow: auto;">
        <div class="form-item-3">
          <div class="form-input">
            <label>Name:</label>
            <select name="name" class="select-form" v-model="currentApp">
              <option :value="key" v-for="value, key, i in app.StorageKeys" :key="i">{{ key }}</option>
            </select>
          </div>
          <div class="form-input">
            <label>Node:</label>
            <input type="text" name="node">
          </div>
          <div class="form-input">
            <label>Function:</label>
            <input type="text" name="function">
          </div>
          <div class="form-input">
            <br>
            <input type="text" name="type" value="settingSubmit" style="display: none;">
            <input type="submit" :value="currentApp == app.currentApp && currentApp != '' ? 'Add' : 'Active'">
          </div>
        </div>
        <table style="width: 100%;">
        <tr>
          <th>Node</th>
          <th>Function</th>
          <th>Remove</th>
        </tr>
        <tr v-for="v, k, i in app.CurrentControlSetting" v-bind:key="i">
          <td>{{ k }}</td>
          <td>{{ v }}</td>
          <td>
            <button type="button" @click="app.removeCurrentControl(k)">Delete</button>
          </td>

        </tr>
      </table>
      </fieldset>
      
    </form>
  </div>
  <div class="log" style=" overflow: auto;">
    <table>
      <tr>
        <th>Timestamp</th>
        <th>Detail</th>
      </tr>
      <tr v-for="v, i in app.log_Data" :key="i">
        <td>{{ v.timestamp }}</td>
        <td>{{ v.detail }}</td>
      </tr>
    </table>
  </div>
  <!-- 0000011200006FD30000361F000019C4
  0000000000000171000014A8000021CC
  00000000000000000000002D0000294C
  00000000000000000000000000000159 -->
</template>
<style scoped>
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  background-color: #f1f1f1;
  margin-bottom: 5px;
  height: 45px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.form-item-2 {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
}

.form-item-3 {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto;
}

.form-input {
  margin: 1%;
}

fieldset {
  border-radius: 1rem;
}

.v-graph {
  height: 100%;

}

.graph {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  border-radius: 0.375rem;
  background-color: aliceblue;
}

.setting {
  /* grid-area: setting; */
  grid-row: 1 / span 3;
  width: 100%;
  background-color: aliceblue;
  border-radius: 0.375rem;
  overflow: hidden;
}

.log {
  /* grid-area: log; */
  max-width: 40vw;
  width: 100%;
  background-color: aliceblue;
  border-radius: 0.375rem;
  height: 250px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td,
th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.log table tr:hover {
  background-color: #ddd;
}

.log table td {
  text-align: left;
}

.log table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: chocolate;
  color: white;
}

.information {
  /* grid-area: information; */
  grid-column: 1 / span 3;
  background-color: aliceblue;
  border-radius: 0.375rem;
  height: 250px;
}

.information form fieldset {
  height: 200px;
}

input {
  padding: 8px;
  display: block;
  border: none;
  width: 100%;
  border: 1px solid #ccc !important;
  border-radius: 0.375rem;
}

input:hover {
  background-color: gray;
}

.select-form {
  padding: 8px;
  display: block;
  border: none;
  width: 100%;
  border: 1px solid #ccc !important;
  border-radius: 0.375rem;
}
</style>
