@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;

  font-weight: normal;
  display: grid;
  grid-template-columns:
  "auto auto auto auto auto";
  grid-gap: 10px;
}

h1{
  text-align: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
