<script setup lang="ts">
import { ref } from 'vue'
import { toBytes, toHex, DecryptFromString } from './stores/PTIOT';
const size = ref(0)
const isData = ref(false)
const isEncrypt = ref(false)
const Data = ref({})

const RawData = ref({})

function TimeToString(date: Date): string {
  return `${date.getFullYear()}:${("0" + (date.getMonth() + 1)).slice(-2)}:${("0" + date.getDate()).slice(-2)} ${("0" + date.getHours()).slice(-2)}:${("0" + date.getMinutes()).slice(-2)}`
}

const app = {
  query: function (o: any) {
    try {
      console.log(o)
      Data.value[TimeToString(new Date())] = "0000014000005E9B0000206A00008A16";
      isData.value = true;
      // var q = `http://localhost/api/ddata?id=NODE01&time=${new Date(o.date).getTime()}`
      var q = `${window.location.protocol}//${window.location.host}/api/ddata?id=${o.id}&time=${new Date(o.date).getTime()}`


      fetch(q).then(response => {
        if (response.status != 200)
          throw new Error("Response not ok")
        console.log(response)
        return response.text()
      }).then(
        y => Data.value = JSON.parse(y)
      )
    } catch (error) {
      console.log(error)
    }
  },
  decrypt: function (o: any) {
    var key = toBytes(o.key)
    size.value = Number(o.size);
    for (var i in Data.value) {
      console.log(i, Data.value[i])
      var value = DecryptFromString(key, Data.value[i], size.value, Number(o.p))
      console.log(value)
      RawData.value[i] = value;
    }

    isEncrypt.value = true;
  }
}

function onSubmit(e: any) {
  const _form = new FormData(e.target);
  var object = { type: "" };
  _form.forEach(function (value, key) {
    object[key] = value;
  })
  app[object.type](object)
}
</script>

<template>
  <form @submit.prevent="onSubmit">
    <fieldset>
      <legend>Query</legend>
      <input type="text" name="id" placeholder="Node ID:">
      <input type="Date" name="date" placeholder="Date:">
      <input type=text name="type" value="query" style="display: none;">
      <input type="submit" value="Get data">
    </fieldset>
  </form>
  <form @submit.prevent="onSubmit">
    <fieldset>
      <legend>Setting</legend>
      <input type="text" name="key" placeholder="Private key:"
        value="0000011200000000000000000000000000005046000001710000000000000000000063A0000085430000002D00000000000073B5000048F500003ABE00000159">
      <input type="text" name="p" placeholder="Key number:" value="797">
      <input type="number" name="size" placeholder="Size:" value="4">
      <input type="text" name="type" value="decrypt" style="display: none;">
      <input type="submit" value="Decrypt">
    </fieldset>
  </form>
  <div class="body">
    <div class="data-field" v-if="isData">
      <div class="center">
        Encrypted data
      </div>
      <table>
        <tr>
          <th>Time</th>
          <th>Data</th>
        </tr>
        <tr v-for="v, k, i in Data" v-bind:key="i">
          <td>{{ k }}</td>
          <td>{{ v }}</td>
        </tr>
      </table>
    </div>
    <div class="decrypt-icon" v-if="isEncrypt">
      <i class="icon icon-lg icon-arrow-right"></i>
    </div>
    <div class="data-field" v-if="isEncrypt">
      <div class="center">
        Data
      </div>
      <table>
        <tr>
          <th>Time</th>
          <th v-for="i in size">{{ i }}</th>
        </tr>
        <tr v-for="v, k, i in RawData" v-bind:key="i">
          <td>{{ k }}</td>
          <td v-for="d, index in v" v-bind:key="index">
            {{ d }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<style scoped>
form {
  max-height: 9vh;
  width: 100vw;
  margin-bottom: auto;
}

.center {
  font-weight: 700;
  font-size: large;
  text-align: center;
}

form fieldset {
  width: 100vw;
  display: flex;
  border-radius: 0.375rem;
}

@media (min-width: 1024px) {
  form {
    width: 50vw;
  }

  form fieldset {
    width: 50vw;
  }
}

form fieldset input {
  max-width: 25vw;
}

.nav div {
  display: flex;
}

.body {
  display: flex;
  height: 80vh;
}

.data-field {
  width: 47vw;
  height: 100%;
  border: solid gray;
  border-radius: 0.5rem;
  overflow-y: auto;
}

.decrypt-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 6vw;
}

input {
  padding: 8px;
  display: block;
  border: none;
  width: 100%;
  border: 1px solid #ccc !important;

}

input+label {
  padding: 8px;
  display: block;
  border: 1px solid #ccc !important;
}

input:hover {
  background-color: gray;
}


table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: auto;
}

td,
th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
